<div class="bjui-pageHeader">
    <form action="__URL__" data-toggle="ajaxsearch" id="pagerForm" method="post">
        <input name="pageSize" type="hidden" value="{$numPerPage}"/>
        <input name="pageCurrent" type="hidden" value="{$_REQUEST['pageNum']|default=1}"/>
        <div class="bjui-searchBar">
            <label>
                筛选:
            </label>
            <select data-toggle="selectpicker" name="filter">
                <option value="">
                    全部
                </option>
                <volist id="type" name="Think.config.CUSTGD_FENLEI">
                    <option value="{$type}" <if condition=" $type EQ $_REQUEST['filter'] " >selected</if> >
                        {$type}
                    </option>
                </volist>
            </select>
            <label>
                关键词：
            </label>
            <input class="form-control" name="keys" size="15" type="text" value="{$_REQUEST['keys']}"/>
            <button class="btn-default" data-icon="search" type="submit">
                查询
            </button>
            <a class="btn btn-orange" data-clear-query="true" data-icon="undo" data-toggle="reloadsearch" href="javascript:;">
                清空查询
            </a>
            <span <php>echo display('Cust/add');</php> style="float:right;margin-right:20px;">
                <a class="btn btn-green" data-height="500" data-icon="plus" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__MODULE__/cust/add/navTabId/{:CONTROLLER_NAME}">
                    新增
                </a>
            </span>
        </div>
    </form>
</div>
<div class="bjui-pageContent">
     <table data-layout-h="0" data-nowrap="true" data-toggle="tablefixed" data-width="100%">
        <thead>
            <tr>
                <th height="30" width="10"></th>
                <th data-order-direction="desc" data-order-field="id">ID</th>
                <th>联系人</th>
                <th>手机号码</th>
                <th>地址</th>
                <th>客户来源</th>
                <th>备注</th>
                <th width="74">操作</th>
            </tr>
        </thead>
        <tbody>
            <volist id="v" name="list">
                <tr>
                    <td></td>
                    <td>{$v.id}</td>
                    <td>{$v.name|msubstr=###,0,20}</td>
                    <td>{$v.phone}</td>
                    <td>{$v.dizhi|msubstr=###,0,20}</td>
                    <td>{$v.type|msubstr=###,0,20}</td>
                    <td>{$v.remark|msubstr=###,0,20}</td>
                    <td>
                        <a href="javascript:;" data-toggle="lookupback" data-args="{jcustid:'{$v.id}', jcustname:'{$v.name}'}" class="btn btn-blue" title="选择本项" data-icon="check">选择</a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="bjui-footBar">
        <div class="pages">
            <span>
                共 {$totalCount} 条  每页 {$numPerPage} 条
            </span>
        </div>
        <div class="pagination-box" data-page-current="{$currentPage}" data-page-size="{$numPerPage}" data-toggle="pagination" data-total="{$totalCount}">
        </div>
    </div>
</div>