<div class="bjui-pageContent">
    <form action="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
        <input name="id" type="hidden" value="{$id}"/>
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_name">
                                商品名称:
                            </label>
                            <input data-rule="required;" id="j_name" name="name" size="20" type="text" value="{$Rs.name}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_fenlei">
                                商品分类:
                            </label>
                            <input data-rule="required;" data-toggle="lookup" data-url="__MODULE__/public/procate/navTabId/{:CONTROLLER_NAME}" id="j_fenlei" name="fenlei" size="20" type="text" value="{$Rs.fenlei}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_jcode">
                                原始编码:
                            </label>
                            <input id="j_jcode" name="jcode" size="20" type="text" value="{$Rs.jcode}"/>
                        </td>
                        <td>
                            <label class="control-label x85">
                                来源类型:
                            </label>
                            <select data-rule="required;" data-toggle="selectpicker" name="type">
                                <option value="">
                                    请选择
                                </option>
                                <volist id="type" name="Think.config.PRO_TYPE">
                                    <option value="{$type}">
                                        {$type}
                                    </option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_jcustname">
                                寄售人:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/cust/navTabId/{:CONTROLLER_NAME}" id="j_jcustname" name="jcustname" size="20" type="text" value="{$Rs.jcustname}" />
                            <input id="j_jcustid" name="jcustid" size="20" type="hidden" value="{$Rs.jcustid}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_endtime">
                                结束时间:
                            </label>
                            <input data-pattern="yyyy-MM-dd HH:mm:ss" data-toggle="datepicker" id="j_endtime" name="endtime" size="20" type="text" value="{$Rs.endtime}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="jiage_input">
                                进价:
                            </label>
                            <input data-rule="required;" id="jiage" name="jiage" size="20" type="text" value="{$Rs.jiage}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_bjiage">
                                标价:
                            </label>
                            <input data-rule="required;" id="j_bjiage" name="bjiage" size="20" type="text" value="{$Rs.bjiage}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_bujian">
                                部件:
                            </label>
                            <input id="j_bujian" name="bujian" size="20" type="text" value="{$Rs.bujian}"/>
                        </td>
                        <td>
                            <label class="control-label x85">
                                付款状态:
                            </label>
                            <select data-rule="required;" data-toggle="selectpicker" name="paystatus">
                                <option value="">
                                    请选择
                                </option>
                                <volist id="paystatus" name="Think.config.PRO_PAY_STATUS">
                                    <option value="{$paystatus}">
                                        {$paystatus}
                                    </option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_color">
                                颜色:
                            </label>
                            <input id="j_color" name="color" size="20" type="text" value="{$Rs.color}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_chengse">
                                成色:
                            </label>
                            <input id="j_chengse" name="chengse" size="20" type="text" value="{$Rs.chengse}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_chima">
                                尺码:
                            </label>
                            <input id="j_chima" name="chima" size="20" type="text" value="{$Rs.chima}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_jiankuan">
                                肩宽:
                            </label>
                            <input id="j_jiankuan" name="jiankuan" size="20" type="text" value="{$Rs.jiankuan}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_yaowei">
                                腰围:
                            </label>
                            <input id="j_yaowei" name="yaowei" size="20" type="text" value="{$Rs.yaowei}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_xiongwei">
                                胸围:
                            </label>
                            <input id="j_xiongwei" name="xiongwei" size="20" type="text" value="{$Rs.xiongwei}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_tunwei">
                                臀围:
                            </label>
                            <input id="j_tunwei" name="tunwei" size="20" type="text" value="{$Rs.tunwei}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_yichang">
                                衣长:
                            </label>
                            <input id="j_yichang" name="yichang" size="20" type="text" value="{$Rs.yichang}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_kuchang">
                                裤长:
                            </label>
                            <input id="j_kuchang" name="kuchang" size="20" type="text" value="{$Rs.kuchang}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_xiuchang">
                                袖长:
                            </label>
                            <input id="j_xiuchang" name="xiuchang" size="20" type="text" value="{$Rs.xiuchang}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="control-label x85" for="juname_input">
                                经办人:
                            </label>
                            <input data-toggle="lookup" data-rule="required;" data-url="__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}" id="juname" name="juname" size="20" type="text" value="{$Rs.juname}"/>
                            <input name="juid" size="20" type="hidden" value="{$Rs.juid}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="control-label x85" for="j_remark">
                                详细说明:
                            </label>
                            <div style="display: inline-block; vertical-align: middle;">
                                <textarea data-items="fontname, fontsize, |, forecolor, hilitecolor, bold, italic, underline, removeformat, |, justifyleft, justifycenter, justifyright, insertorderedlist, insertunorderedlist, |, emoticons, image, link" data-minheight="150" data-toggle="kindeditor" name="remark">
                                    {$Rs.remark}
                                </textarea>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li>
                    <button class="btn-close" data-icon="close" type="button">
                        取消
                    </button>
                </li>
                <li>
                    <button class="btn-default" data-icon="save" type="submit">
                        保存
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>