<div class="bjui-pageContent">
    <form action="__URL__/edit/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
        <input name="id" type="hidden" value="{$id}">
            <div class="pageFormContent" data-layout-h="0">
                <table class="table table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <label class="control-label x85" for="j_name">
                                    商品名称:
                                </label>
                                <input data-rule="required;" id="j_name" name="name" size="20" type="text" value="{$Rs.name}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_fenlei">
                                    商品分类:
                                </label>
                                <select id="selFenlei" data-rule="required;" data-toggle="selectpicker" name="fenlei">
                                <option value="">
                                    请选择
                                </option>
                                <volist id="fenlei" name="Think.config.PRO_FENLEI">
                                    <option value="{$fenlei}" <if condition=" $fenlei EQ $Rs['fenlei'] " >selected</if> >
                                        {$fenlei}
                                    </option>
                                </volist>
                            </select>
                            <input data-rule="required;" data-toggle="lookup" data-url="__MODULE__/public/procate/navTabId/{:CONTROLLER_NAME}" id="j_pinpai" name="pinpai" size="20" type="text" value="{$Rs.pinpai}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label x85" for="j_code">
                                    商品编码:
                                </label>
                                <input disabled="disabled" id="j_code" size="20" type="text" value="{$Rs.code}"/>
                            </td>
                            <td>
                                <label class="control-label x85">
                                    商品状态:
                                </label>
                                <select data-rule="required;" data-toggle="selectpicker" name="status">
                                    <volist id="status" name="Think.config.PRO_STATUS">
                                        <option value="{$status}" <if condition=" $status EQ $Rs['status'] " >selected</if> >
                                            {$status}
                                        </option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label x85" for="j_jcode">
                                    原始编码:
                                </label>
                                <input id="j_jcode" name="jcode" size="20" type="text" value="{$Rs.jcode}"/>
                            </td>
                            <td>
                                <label class="control-label x85">
                                    来源类型:
                                </label>
                                <select data-rule="required;" data-toggle="selectpicker" name="type">
                                    <option value="">
                                        请选择
                                    </option>
                                    <volist id="type" name="Think.config.PRO_TYPE">
                                        <option value="{$type}" <if condition=" $type EQ $Rs['type'] " >selected</if>>
                                            {$type}
                                        </option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label x85" for="j_jcustname">
                                    寄售人:
                                </label>
                                <input data-toggle="lookup" data-url="__MODULE__/public/cname/navTabId/{:CONTROLLER_NAME}" id="j_cname" name="cname" size="20" type="text" value="{$Rs.cname}" />
                                <input id="j_cid" name="cid" size="20" type="hidden" value="{$Rs.cid}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_endtime">
                                    结束时间:
                                </label>
                                <input data-pattern="yyyy-MM-dd HH:mm:ss" data-toggle="datepicker" id="j_endtime" name="endtime" size="20" type="text" value="{$Rs.endtime}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label x85" for="jiage_input">
                                    进价:
                                </label>
                                <input data-rule="required;" id="jiage" name="jiage" size="20" type="text" value="{$Rs.jiage}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_bjiage">
                                    标价:
                                </label>
                                <input data-rule="required;" id="j_bjiage" name="bjiage" size="20" type="text" value="{$Rs.bjiage}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label x85" for="j_bujian">
                                    部件:
                                </label>
                                <input id="j_bujian" name="bujian" size="20" type="text" value="{$Rs.bujian}"/>
                            </td>
                            <td>
                                <label class="control-label x85">
                                    付款状态:
                                </label>
                                <select data-rule="required;" data-toggle="selectpicker" name="paystatus">
                                    <option value="">
                                        请选择
                                    </option>
                                    <volist id="paystatus" name="Think.config.PRO_PAY_STATUS">
                                        <option value="{$paystatus}" <if condition=" $paystatus EQ $Rs['paystatus'] " >selected</if> >
                                            {$paystatus}
                                        </option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label x85" for="j_color">
                                    颜色:
                                </label>
                                <input id="j_color" name="color" size="20" type="text" value="{$Rs.color}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_chengse">
                                    成色:
                                </label>
                                <input id="j_chengse" name="chengse" size="20" type="text" value="{$Rs.chengse}"/>
                            </td>
                        </tr>
                        <tr class="flyf" <if condition="'衣服' NEQ $Rs['fenlei']">style="display: none;" </if> >
                            <td>
                                <label class="control-label x85" for="j_chima">
                                    尺码:
                                </label>
                                <input id="j_chima" name="chima" size="20" type="text" value="{$Rs.chima}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_jiankuan">
                                    肩宽:
                                </label>
                                <input id="j_jiankuan" name="jiankuan" size="20" type="text" value="{$Rs.jiankuan}"/>
                            </td>
                        </tr>
                        <tr class="flyf" <if condition="'衣服' NEQ $Rs['fenlei']"> style="display: none;" </if> >
                            <td>
                                <label class="control-label x85" for="j_yaowei">
                                    腰围:
                                </label>
                                <input id="j_yaowei" name="yaowei" size="20" type="text" value="{$Rs.yaowei}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_xiongwei">
                                    胸围:
                                </label>
                                <input id="j_xiongwei" name="xiongwei" size="20" type="text" value="{$Rs.xiongwei}"/>
                            </td>
                        </tr>
                        <tr class="flyf" <if condition="'衣服' NEQ $Rs['fenlei']"> style="display: none;" </if> >
                            <td>
                                <label class="control-label x85" for="j_tunwei">
                                    臀围:
                                </label>
                                <input id="j_tunwei" name="tunwei" size="20" type="text" value="{$Rs.tunwei}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_yichang">
                                    衣长:
                                </label>
                                <input id="j_yichang" name="yichang" size="20" type="text" value="{$Rs.yichang}"/>
                            </td>
                        </tr>
                        <tr class="flyf" <if condition="'衣服' NEQ $Rs['fenlei']"> style="display: none;" </if> >
                            <td>
                                <label class="control-label x85" for="j_kuchang">
                                    裤长:
                                </label>
                                <input id="j_kuchang" name="kuchang" size="20" type="text" value="{$Rs.kuchang}"/>
                            </td>
                            <td>
                                <label class="control-label x85" for="j_xiuchang">
                                    袖长:
                                </label>
                                <input id="j_xiuchang" name="xiuchang" size="20" type="text" value="{$Rs.xiuchang}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label class="control-label x85" for="j_remark">
                                    详细说明:
                                </label>
                                <textarea id="j_remark" name="remark" cols='65' rows='3'>{$Rs.remark}</textarea>
                                <!-- <div style="display: inline-block; vertical-align: middle;">
                                    <textarea data-items="fontname, fontsize, |, forecolor, hilitecolor, bold, italic, underline, removeformat, |, justifyleft, justifycenter, justifyright, insertorderedlist, insertunorderedlist, |, emoticons, image, link" data-minheight="150" data-toggle="kindeditor" name="remark">
                                        {$Rs.remark}
                                    </textarea> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <td colspan=2 style="position: relative;">
                            <label for='attid_input' class='control-label x85'>上传附件:</label>
                            <div id='attfiles' class="attfile">
                                <volist id="f" name="files">
                                <div class="item">
                                    <i class="fa fa-times-circle" onclick="rmAttfile(this,'{$f.id}')"></i>
                                    <img src="{$f.filename}" onclick="imgPreview(this)"/>
                                    <input type='hidden' name='fileids[]'  value='{$f.id}'>
                                </div>
                                </volist>
                            </div>
                            <input id="uploadfy" type="file"/>
                            <input type='hidden' id='attid' name='attid'  value='-{$attid}'>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bjui-footBar">
                <ul>
                    <li>
                        <button class="btn-close" data-icon="close" type="button">
                            取消
                        </button>
                    </li>
                    <li>
                        <button class="btn-default" data-icon="save" type="submit">
                            保存
                        </button>
                    </li>
                </ul>
            </div>
        </input>
    </form>
</div>
<div id="preview" class="preview" style="display: none;"></div>
<block name="script">
<script type="text/javascript">
        $("#selFenlei").on('change',function(e){
            var fenlei = $(this).val();
            if(fenlei == "衣服"){
                $('.flyf').show();
            } else {
                $('.flyf').hide();
            }

            // $("#j_pinpai").attr('data-data',fenlei);
        });
        $("#uploadfy").uploadify({
                'swf': '__PUBLIC__/BJUI/plugins/uploadify/scripts/uploadify.swf',//uploadify.swf 文件的路径（绝对路径、相对路径都可以）
                uploader: "__MODULE__/Public/upload?attid="+$('#attid').val(),//服务器响应地址
                scriptData:{attid:$("#attid").val()},
                // cancelImg: '/Scripts/uploadify/uploadify-cancel.png',//关闭按钮图片路径
                // multi: true,//是否多文件
                auto:true,//是否自动上传，true，选择文件后上传，false，点击上传开始上传，默认true
                buttonText: "上传",//空间名称
                preventCaching: false,//是否缓存
                fileSizeLimit: 1024 * 1024 * 10,//单个文件限制大小
                fileTypeDesc: '*.jpg;*.png;*.jpeg;*.gif;',//文件后缀描述
                fileTypeExts: '*.jpg;*.png;*.jpeg;*.gif;',//文件后缀限制
                height: 25,//高度
                onSelect:function(fileObj) {
                },
                onUploadSuccess:function(file,data,response){
                    $attfiles = $("#attfiles");
                    var resData = eval('(' + data + ')'); 
                    if(resData.code === 300){
                        $attfiles.alertmsg('error', resData.data);
                        return;
                    }
                    $attfiles.append('<div class="item"><i class="fa fa-times-circle" onclick="rmAttfile(this,'+resData.data.id+')"></i><img src="'+resData.data.filename +'"/><input type="hidden" name="fileids[]"  value="'+ resData.data.id +'">');
                },
                onSelectError:function(file, errorCode, errorMsg){
                    switch(errorCode) {
                        case -110:
                            alert("文件 ["+file.name+"] 大小超出系统限制的" + $("#uploadfy").uploadify('settings', 'fileSizeLimit') + "大小！");
                            break;
                        case -120:
                            alert("文件 ["+file.name+"] 大小异常！");
                            break;
                        case -130:
                            alert("文件 ["+file.name+"] 类型不正确！");
                            break;
                    }
                },
            });

        function rmAttfile(sender,fileId){
            $(sender).parent('div').remove()
        }
        function imgPreview(sender) {
            $('#preview').empty().append("<img src='"+ $(sender).attr('src') +"' />").show();
        }
        $('#preview').click(function(){
            $(this).hide();
        });
</script>
</block>