<div class="bjui-pageHeader">
    <form action="__URL__" data-toggle="ajaxsearch" id="pagerForm" method="post">
        <input name="pageSize" type="hidden" value="{$numPerPage}"/>
        <input name="pageCurrent" type="hidden" value="{$_REQUEST['pageNum']|default=1}"/>
        <div class="bjui-searchBar">
            <label>
                关键词：
            </label>
            <input class="form-control" name="keys" size="15" type="text" value="{$_REQUEST['keys']}"/>
            <label>
                添加时间：
            </label>
            <input class="form-control" data-toggle="datepicker" name="time1" size="15" type="text" value="{$_REQUEST['stime']}"/>
            -
            <input class="form-control" data-toggle="datepicker" name="time2" size="15" type="text" value="{$_REQUEST['etime']}"/>
            <button class="btn-default" data-icon="search" type="submit">
                查询
            </button>
            <a class="btn btn-orange" data-icon="undo" href="javascript:;" onclick="$(this).navtab('reloadForm', true);">
                清空查询
            </a>
            <span <php> echo display(CONTROLLER_NAME.'/lock');</php> style="float:right;">
                <a class="btn btn-red" data-confirm-msg="确定要清理吗？" data-icon="remove" data-toggle="doajax" href="__URL__/lock/navTabId/{:CONTROLLER_NAME}">
                    清理
                </a>
            </span>
            

           
            <span <php>echo display(CONTROLLER_NAME.'/outxls');</php> style="float:right;margin-right:20px;">
                <a class="btn btn-blue" data-confirm-msg="确定要导出吗？" data-icon="arrow-up" data-toggle="doexport" href="__URL__/outxls">
                    导出
                </a>
            </span>
            <span <php>echo display(CONTROLLER_NAME.'/add');</php>  style="float:right;margin-right:20px;">
                <a class="btn btn-green" data-height="500" data-icon="plus" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/add/navTabId/{:CONTROLLER_NAME}">
                    新增
                </a>
            </span>
             <div class="btn-group" style="float:right;margin-right:20px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">批量操作<span class="caret"></span></button>
                <ul class="dropdown-menu right" role="menu">
                    <li <php>echo display(CONTROLLER_NAME.'/dakuan');</php> >
                        <a  href="__URL__/dakuan/ids/{#bjui-selected}" data-warn="请至少选择一项" data-toggle="doajax" data-confirm-msg="确定要打款">打款
                        </a>
                    </li>
                    <li <php>echo display(CONTROLLER_NAME.'/tuihuo');</php> >
                        <a data-url="__URL__/tuihuo/ids/{#bjui-selected}" data-warn="请至少选择一项" data-toggle="doajax">退货
                        </a>
                    </li>
                    <li <php>echo display(CONTROLLER_NAME.'/quhui');</php> >
                        <a data-url="__URL__/quhui/ids/{#bjui-selected}" data-warn="请至少选择一项" data-toggle="doajax" data-confirm-msg="确定要取回">取回
                        </a>
                    </li>
                    <!-- <li class="divider"></li> -->
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent">
    <table data-layout-h="0" data-nowrap="true" data-toggle="tablefixed" data-width="100%" data-selected-multi="true">
        <thead>
            <tr>
                <th height="30" width="10">
                </th>
                <th data-order-direction="desc" data-order-field="fenlei">
                    商品分类
                </th>
                <th>
                    商品名称
                </th>
                <th>
                    商品品牌
                </th>
                <th data-order-direction="desc" data-order-field="type">
                    来源
                </th>
                <th data-order-direction="desc" data-order-field="jiage">
                    进价
                </th>
                <th data-order-direction="desc" data-order-field="sjiage">
                    标价
                </th>
                <th>
                    付款状态
                </th>
                <th data-order-direction="desc" data-order-field="status">
                    库存状态
                </th>
                <th>
                    添加人
                </th>
                <th data-order-direction="desc" data-order-field="addtime">
                    添加时间
                </th>
                <th data-order-direction="desc" data-order-field="updatetime">
                    更新时间
                </th>
                <th <php>echo display(CONTROLLER_NAME.'/lock');</php> > 状态</th>
                <th>
                    详细
                </th>
                <th <php>echo display('proout/add');</php> >
                    售出
                </th>
                <th <php>echo display(CONTROLLER_NAME.'/edit');</php> >
                    编辑
                </th>
            </tr>
        </thead>
        <tbody>
            <volist id="v" name="list">
                <tr data-id="{$v.id}" class="{$v.status|className=###}">
                    <td>
                    </td>
                    <td>
                        {$v.fenlei}
                    </td>
                    <td>
                        {$v.name|msubstr=###,0,20}
                    </td>
                    <td>
                        {$v.pinpai}
                    </td>
                    <td>
                        {$v.type}
                    </td>
                    <td>
                        {$v.jiage}
                    </td>
                    <td>
                        {$v.bjiage}
                    </td>
                    <td>
                        {$v.paystatus}
                    </td>
                    <td>
                        {$v.status}
                    </td>
                    <td>
                        {$v.uname|msubstr=###,0,20}
                    </td>
                    <td>
                        {$v.addtime|substr=###,0,10}
                    </td>
                    <td>
                        {$v.updatetime|substr=###,0,10}
                    </td>
                    <td <php>echo display(CONTROLLER_NAME.'/lock');</php> >
                        <a data-confirm-msg="确定要操作吗？" data-toggle="doajax" href="__URL__/lock/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            <if condition="$v.lock EQ 1 ">
                                <img border="0" src="__PUBLIC__/images/ok.gif"/>
                            <else/>
                                <img border="0" src="__PUBLIC__/images/locked.gif"/>
                            </if>
                        </a>
                    </td>
                    <td>
                        <a data-height="500" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            详细
                        </a>
                    </td>
                    <td <php>echo display('proout/add');</php> >
                        <if condition=" $v.status EQ '在库' or $v.status EQ '预订' ">
                            <a class="btn btn-green btn-sm" data-height="500" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__MODULE__/proout/add/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                                出售
                            </a>
                        </if>
                    </td>
                    <td <php>echo display(CONTROLLER_NAME.'/edit');</php> >
                        
                        <a class="btn btn-green btn-sm" data-height="500" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/edit/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            编辑
                        </a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
    <style type="text/css">
        .shouchu > td{ color: red; }
        .yuding > td{ color: blue; }
        .quhui > td{ color: green; }
    </style>
    <div class="bjui-footBar">
        <div class="pages">
            <span>
                共 {$totalCount} 条  每页 {$numPerPage} 条
            </span>
        </div>
        <div class="pagination-box" data-page-current="{$currentPage}" data-page-size="{$numPerPage}" data-toggle="pagination" data-total="{$totalCount}">
        </div>
    </div>
</div>