<div class="bjui-pageContent">
    <form action="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
        <input name="id" type="hidden" value="{$id}" />
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <label class="control-label x85" for="jpid_input">
                                产品ID:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/proname/navTabId/{:CONTROLLER_NAME}" id="jpid" name="jpid" size="20" type="text" value="{$Rs.jpid}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="jpname_input">
                                产品名称:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/proname/navTabId/{:CONTROLLER_NAME}" id="jpname" name="jpname" size="20" type="text" value="{$Rs.jpname}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="jpjiage_input">
                                产品价格:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/proname/navTabId/{:CONTROLLER_NAME}" id="jpjiage" name="jpjiage" size="20" type="text" value="{$Rs.jpjiage}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="jpdanwei_input">
                                计量单位:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/proname/navTabId/{:CONTROLLER_NAME}" id="jpdanwei" name="jpdanwei" size="20" type="text" value="{$Rs.jpdanwei}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="jpguige_input">
                                规格型号:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/proname/navTabId/{:CONTROLLER_NAME}" id="jpguige" name="jpguige" size="20" type="text" value="{$Rs.jpguige}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="shuliang_input">
                                入库数量:
                            </label>
                            <input data-rule="required;" id="shuliang" name="shuliang" size="20" type="text" value="{$Rs.shuliang}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="juid_input">
                                经办人:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}" id="juid" name="juid" size="20" type="text" value="{$Rs.juid}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="juname_input">
                                经办人:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}" id="juname" name="juname" size="20" type="text" value="{$Rs.juname}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="title_input">
                                说明:
                            </label>
                            <input id="title" name="title" size="20" type="text" value="{$Rs.title}"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li>
                    <button class="btn-close" data-icon="close" type="button">
                        取消
                    </button>
                </li>
                <li>
                    <button class="btn-default" data-icon="save" type="submit">
                        保存
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>