<div class="bjui-pageContent">
    <form action="__URL__/edit/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
        <input name="id" type="hidden" value="{$id}"/>
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-bordered table-striped table-hover" width="100%">
                <tbody>
                    <tr>
                        <td style="width: 45%;">
                            <label class="control-label x85">
                                商品ID:
                            </label>
                            {$Rs.jpid}
                        </td>
                        <td>
                            <label class="control-label x85">
                                商品名称:
                            </label>
                            {$Rs.jpname}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85">
                                进价:
                            </label>
                            {$Rs.jpjiage}
                        </td>
                        <td>
                            <label class="control-label x85">
                                付款方式:
                            </label>
                            {$Rs.paytype}
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_juname">
                                经办人:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}" id="j_juname" name="juname" size="20" type="text" value="{$Rs.juname}"/>
                            <input name="juid" size="20" type="hidden" value="{$Rs.juid}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_remark">
                                说明:
                            </label>
                            <input id="j_remark" name="remark" size="20" type="text" value="{$Rs.remark}"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li>
                    <button class="btn-close" data-icon="close" type="button">
                        取消
                    </button>
                </li>
                <li>
                    <button class="btn-default" data-icon="save" type="submit">
                        保存
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>