<div class="bjui-pageHeader">
    <form action="__URL__" data-toggle="ajaxsearch" id="pagerForm" method="post">
        <input name="pageSize" type="hidden" value="{$numPerPage}"/>
        <input name="pageCurrent" type="hidden" value="{$_REQUEST['pageNum']|default=1}"/>
        <div class="bjui-searchBar">
            <label>
                关键词：
            </label>
            <input class="form-control" name="keys" size="15" type="text" value="{$_REQUEST['keys']}"/>
            <button class="btn-default" data-icon="search" type="submit">
                查询
            </button>
            <a class="btn btn-orange" data-icon="undo" href="javascript:;" onclick="$(this).navtab('reloadForm', true);">
                清空查询
            </a>
            <span <php>echo display(CONTROLLER_NAME.'/outxls');</php> style="float:right;margin-right:20px;">
                <a class="btn btn-blue" data-confirm-msg="确定要导出吗？" data-icon="arrow-up" data-toggle="doexport" href="__URL__/outxls">
                    导出
                </a>
            </span>
            <!-- <span <php>echo display(CONTROLLER_NAME.'/add');</php> style="float:right;margin-right:20px;">
                <a class="btn btn-green" data-height="500" data-icon="plus" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/add/navTabId/{:CONTROLLER_NAME}">
                    新增
                </a>
            </span> -->
        </div>
    </form>
</div>
<div class="bjui-pageContent">
    <table data-layout-h="0" data-nowrap="true" data-toggle="tablefixed" data-width="100%">
        <thead>
            <tr>
                <th height="30" width="10">
                </th>
                <th data-order-direction="desc" data-order-field="id">
                    ID
                </th>
                <th>
                    商品名称
                </th>
                <th>
                    进价
                </th>
                <th>
                    经办人
                </th>
                <th>
                    说明
                </th>
                <th data-order-direction="desc" data-order-field="uname">
                    操作人
                </th>
                <th data-order-direction="desc" data-order-field="addtime">
                    入库时间
                </th>
                <th>
                    详细
                </th>
                <th <php>echo display(CONTROLLER_NAME.'/edit');</php> >
                    编辑
                </th>
            </tr>
        </thead>
        <tbody>
            <volist id="v" name="list">
                <tr>
                    <td>
                    </td>
                    <td>
                        {$v.id}
                    </td>
                    <td>
                        {$v.jpname|msubstr=###,0,20}
                    </td>
                    <td>
                        {$v.jpjiage|msubstr=###,0,20}
                    </td>
                    <td>
                        {$v.juname|msubstr=###,0,20}
                    </td>
                    <td>
                        {$v.remark|msubstr=###,0,20}
                    </td>
                    <td>
                        {$v.uname}
                    </td>
                    <td>
                        {$v.addtime|substr=###,0,10}
                    </td>
                    <td>
                        <a data-height="500" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            详细
                        </a>
                    </td>
                    <td <php>echo display(CONTROLLER_NAME.'/edit');</php> >
                        <a class="btn btn-green btn-sm" data-height="500" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/edit/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            编辑
                        </a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
</div>
<div class="bjui-footBar">
    <div class="pages">
        <span>
            共 {$totalCount} 条  每页 {$numPerPage} 条
        </span>
    </div>
    <div class="pagination-box" data-page-current="{$currentPage}" data-page-size="{$numPerPage}" data-toggle="pagination" data-total="{$totalCount}">
    </div>
</div>
