<div class="bjui-pageContent">
    <div class="pageFormContent" data-layout-h="0">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <td>
                        <label class="control-label x85" for="id_input">
                            ID:
                        </label>
                        {$Rs.id}
                    </td>
                    <td>
                        <label class="control-label x85" for="jpid_input">
                            商品ID:
                        </label>
                        {$Rs.jpid}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label x85" for="jpname_input">
                            商品名称:
                        </label>
                        {$Rs.jpname}
                    </td>
                    <td>
                        <label class="control-label x85" for="jpjiage_input">
                            进价:
                        </label>
                        {$Rs.jpjiage}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label x85" for="juname_input">
                            经办人:
                        </label>
                        {$Rs.juname}
                    </td>
                    <td>
                        <label class="control-label x85" for="title_input">
                            说明:
                        </label>
                        {$Rs.title}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label x85" for="uname_input">
                            操作人:
                        </label>
                        {$Rs.uname}
                    </td>
                    <td>
                        <label class="control-label x85" for="addtime_input">
                            入库时间:
                        </label>
                        {$Rs.addtime}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label x85" for="uuname_input">
                            更新人:
                        </label>
                        {$Rs.uuname}
                    </td>
                    <td>
                        <label class="control-label x85" for="updatetime_input">
                            更新时间:
                        </label>
                        {$Rs.updatetime}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bjui-footBar">
        <ul>
            <li>
                <button class="btn-close" data-icon="close" type="button">
                    关闭
                </button>
            </li>
        </ul>
    </div>
</div>