<div class="bjui-pageHeader">
    <form action="__URL__" data-toggle="ajaxsearch" id="pagerForm" method="post">
        <input name="pageSize" type="hidden" value="{$numPerPage}"/>
        <input name="pageCurrent" type="hidden" value="{$_REQUEST['pageNum']|default=1}"/>
        <div class="bjui-searchBar">
            <label>
                关键词：
            </label>
            <input class="form-control" name="keys" size="15" type="text" value="{$_REQUEST['keys']}"/>
            <label>
                添加时间：
            </label>
            <input class="form-control" data-toggle="datepicker" name="time1" size="15" type="text" value="{$_REQUEST['time1']}"/>
            -
            <input class="form-control" data-toggle="datepicker" name="time2" size="15" type="text" value="{$_REQUEST['time2']}"/>
            <button class="btn-default" data-icon="search" type="submit">
                查询
            </button>
            <a class="btn btn-orange" data-icon="undo" href="javascript:;" onclick="$(this).navtab('reloadForm', true);">
                清空查询
            </a>
            <span <php>echo display(CONTROLLER_NAME.'/del');</php>  style="float:right;">
                <a class="btn btn-red" data-confirm-msg="确定要清理吗？" data-icon="remove" data-toggle="doajax" href="__URL__/del/navTabId/{:CONTROLLER_NAME}">
                    清理
                </a>
            </span>
            <span <php>echo display(CONTROLLER_NAME.'/outxls');</php> style="float:right;margin-right:20px;">
                <a class="btn btn-blue" data-confirm-msg="确定要导出吗？" data-icon="arrow-up" data-toggle="doexport" href="__URL__/outxls">
                    导出
                </a>
            </span>
            <span <php>echo display(CONTROLLER_NAME.'/add');</php> style="float:right;margin-right:20px;">
                <a class="btn btn-green" data-height="500" data-icon="plus" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/add/navTabId/{:CONTROLLER_NAME}">
                    新增
                </a>
            </span>
        </div>
    </form>
</div>
<div class="bjui-pageContent">
    <table data-layout-h="0" data-nowrap="true" data-toggle="tablefixed" data-width="100%">
        <thead>
            <tr>
                <th height="30" width="10"></th>
                <th data-order-direction="desc" data-order-field="id">ID</th>
                <th>联系人</th>
                <th>性别</th>
                <th>手机号码</th>
                <th>身份证号</th>
                <th>开户行</th>
                <th>银行卡号</th>
                <th>地址</th>
                <th>客户来源</th>
                <th>备注</th>
                <th data-order-direction="desc" data-order-field="uname">添加人</th>
                <th data-order-direction="desc" data-order-field="addtime">添加时间</th>
                <th data-order-direction="desc" data-order-field="updatetime">更新时间</th>
                <th <php>echo display(CONTROLLER_NAME.'/del');</php> >状态</th>
                <th <php>echo display(CONTROLLER_NAME.'/edit');</php> >编辑</th>
            </tr>
        </thead>
        <tbody>
            <volist id="v" name="list">
                <tr>
                    <td></td>
                    <td>{$v.id}</td>
                    <td>{$v.name|msubstr=###,0,20}</td>
                    <td>{$v.sex}</td>
                    <td>{$v.phone}</td>
                    <td>{$v.idcard}</td>
                    <td>{$v.yhname}</td>
                    <td>{$v.yhcard}</td>
                    <td>{$v.dizhi|msubstr=###,0,20}</td>
                    <td>{$v.type|msubstr=###,0,20}</td>
                    <td>{$v.remark|msubstr=###,0,20}</td>
                    <td>{$v.uname}</td>
                    <td>{$v.addtime|substr=###,0,10}</td>
                    <td>{$v.updatetime|substr=###,0,10}</td>
                    <!-- <td><a href="__URL__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"  data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" >详细</a></td> -->
                    <td <php>echo display(CONTROLLER_NAME.'/del');</php> >
                        <a data-confirm-msg="确定要操作吗？" data-toggle="doajax" href="__URL__/del/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            <if condition="$v.status EQ 1 ">
                                <img border="0" src="__PUBLIC__/images/ok.gif"/>
                            <else/>
                                <img border="0" src="__PUBLIC__/images/locked.gif"/>
                            </if>
                        </a>
                    </td>
                    <td>
                        <!-- <a href="__MODULE__/custcon/add/cid/{$v['id']}/navTabId/{:CONTROLLER_NAME}"  class="btn btn-green btn-sm" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true">联系人</a>
             <a href="__MODULE__/custgd/add/cid/{$v['id']}/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true">进展</a> -->
                        <a <php>echo display(CONTROLLER_NAME.'/edit');</php> class="btn btn-green btn-sm" data-height="500" data-id="dialog-mask" data-mask="true" data-toggle="dialog" data-width="900" href="__URL__/edit/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}">
                            编辑
                        </a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
</div>
<div class="bjui-footBar">
    <div class="pages">
        <span>
            共 {$totalCount} 条  每页 {$numPerPage} 条
        </span>
    </div>
    <div class="pagination-box" data-page-current="{$currentPage}" data-page-size="{$numPerPage}" data-toggle="pagination" data-total="{$totalCount}">
    </div>
</div>
