<div class="bjui-pageContent">
    <form action="__URL__/edit/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
		   <tr><td><label for='jhid_input' class='control-label x85'>关联合同:</label><input type='text' id='jhid' name='jhid'  size='20' data-toggle='lookup' data-url='__MODULE__/public/htname/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.jhid}' disabled ></td><td><label for='jhname_input' class='control-label x85'>关联合同:</label><input type='text' id='jhname' name='jhname'  size='20' data-toggle='lookup' data-url='__MODULE__/public/htname/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.jhname}'  disabled></td></tr>
<tr><td><label for='bianhao_input' class='control-label x85'>单据编号:</label><input type='text' id='bianhao' name='bianhao'  size='20'   value='{$Rs.bianhao}'  ></td><td><label for='fenlei_input' class='control-label x85'>款项类型:</label><input type='text' id='fenlei' name='fenlei'  size='20' data-toggle='lookup' data-url='__MODULE__/public/fkfenlei/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.fenlei}'  ></td></tr>
<tr><td><label for='type_input' class='control-label x85'>付款方式:</label><input type='text' id='type' name='type'  size='20' data-toggle='lookup' data-url='__MODULE__/public/fktype/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.type}'  ></td><td><label for='jine_input' class='control-label x85'>付款金额:</label><input type='text' id='jine' name='jine' data-rule='required;' size='20'   value='{$Rs.jine}' disabled ></td></tr>
<tr><td><label for='juid_input' class='control-label x85'>经办人:</label><input type='text' id='juid' name='juid'  size='20' data-toggle='lookup' data-url='__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.juid}'  ></td><td><label for='juname_input' class='control-label x85'>经办人:</label><input type='text' id='juname' name='juname'  size='20' data-toggle='lookup' data-url='__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}'  value='{$Rs.juname}'  ></td></tr>
<tr><td colspan=2><label for='beizhu_input' class='control-label x85'>备注:</label><textarea name='beizhu'  cols='65' rows='5' >{$Rs.beizhu}</textarea></td></tr>
<tr><td colspan=2><label for='attid_input' class='control-label x85'>上传附件:</label><div style='display: inline-block; vertical-align: middle;'><IFRAME   src='__MODULE__/Public/attfile/attid/{$attid}/'  frameBorder=0 width='100%' height='30' scrolling=no ></IFRAME><input type='hidden' id='attid' name='attid'  value='{$attid}'  ></div></td></tr>
           </tbody>
          </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
                <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
            </ul>
        </div>
    </form>
</div>