<div class="bjui-pageContent">
    <form action="__URL__/edit/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
        <input name="id" type="hidden" value="{$id}"/>
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <label class="control-label x85">
                                商品ID:
                            </label>
                            {$Rs.jpid}
                        </td>
                        <td>
                            <label class="control-label x85">
                                商品名称:
                            </label>
                            {$Rs.jpname}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85">
                                售价:
                            </label>
                            {$Rs.jpsjiage}
                        </td>
                        <td>
                            <label class="control-label x85">
                                付款方式:
                            </label>
                            {$Rs.paytype}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="j_custname">
                                顾客姓名:
                            </label>
                            <input id="j_custname" name="custname" size="20" type="text" value="{$Rs.custname}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_custphone">
                                顾客电话:
                            </label>
                            <input id="j_custphone" name="custphone" size="20" type="text" value="{$Rs.custphone}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label x85" for="juid_input">
                                经办人:
                            </label>
                            <input data-toggle="lookup" data-url="__MODULE__/public/user/navTabId/{:CONTROLLER_NAME}" id="juname" name="juname" size="20" type="text" value="{$Rs.juname}"/>
                            <input name="juid" size="20" type="hidden" value="{$Rs.juid}"/>
                        </td>
                        <td>
                            <label class="control-label x85" for="j_beizhu">
                                说明:
                            </label>
                            <input id="j_beizhu" name="beizhu" size="20" type="text" value="{$Rs.beizhu}"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li>
                    <button class="btn-close" data-icon="close" type="button">
                        取消
                    </button>
                </li>
                <li>
                    <button class="btn-default" data-icon="save" type="submit">
                        保存
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>