<div class="bjui-pageContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='juname_input' class='control-label x85'>员工姓名:</label>{$Rs.juname}</td></tr>
<tr><td><label for='type_input' class='control-label x85'>奖罚属性:</label>{$Rs.type}</td><td><label for='title_input' class='control-label x85'>奖罚名称:</label>{$Rs.title}</td></tr>
<tr><td><label for='sxrq_input' class='control-label x85'>生效日期:</label>{$Rs.sxrq}</td><td><label for='jine_input' class='control-label x85'>奖罚金额:</label>{$Rs.jine}</td></tr>
<tr><td><label for='gongzi_input' class='control-label x85'>生效工资月份:</label>{$Rs.gongzi}</td><td><label for='uname_input' class='control-label x85'>添加人:</label>{$Rs.uname}</td></tr>
<tr><td><label for='addtime_input' class='control-label x85'>添加时间:</label>{$Rs.addtime}</td><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td></tr>
<tr><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td></tr>
<tr><td colspan=2><label for='beizhu_input' class='control-label x85'>说明:</label><div style='display: inline-block; vertical-align: middle;'><textarea name='beizhu'   data-toggle='kindeditor' data-minheight='150' data-items='fontname, fontsize, |, forecolor, hilitecolor, bold, italic, underline, removeformat, |, justifyleft, justifycenter, justifyright, insertorderedlist, insertunorderedlist, |, emoticons, image, link'>{$Rs.beizhu}</textarea></div></td></tr></tr>
<tr><td colspan=2><label for='attid_input' class='control-label x85'>上传附件:</label>
			<php>$attlist=M('files')->where('attid='.$Rs['attid'])->select();</php>	
	         <foreach name='attlist' item='vf'>{$vf['uid']|truename=###}:<a href='__ROOT__/{$vf['folder']}{$vf['filename']}' target=_blank>{$vf['filedesc']}</A>&nbsp;&nbsp;{$vf['addtime']}<Br/><label  class='control-label x85'></label></foreach></td></tr>
           </tbody>
          </table>
        </div>
		<div class="bjui-footBar">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        </ul>
    </div>
</div>