<div class="bjui-pageContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='jcid_input' class='control-label x85'>客户ID:</label>{$Rs.jcid}</td></tr>
<tr><td><label for='jcname_input' class='control-label x85'>客户名称:</label>{$Rs.jcname}</td><td><label for='type_input' class='control-label x85'>跟单方式:</label>{$Rs.type}</td></tr>
<tr><td><label for='fenlei_input' class='control-label x85'>进展阶段:</label>{$Rs.fenlei}</td><td><label for='xcrq_input' class='control-label x85'>下次联系:</label>{$Rs.xcrq}</td></tr>
<tr><td><label for='uname_input' class='control-label x85'>跟单人:</label>{$Rs.uname}</td><td><label for='addtime_input' class='control-label x85'>跟单时间:</label>{$Rs.addtime}</td></tr>
<tr><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td></tr>
<tr></tr>
<tr><td colspan=2><label for='value_input' class='control-label x85'>详情:</label><textarea name='value'  cols='65' rows='5' >{$Rs.value}</textarea></td></tr>
           </tbody>
          </table>
        </div>
		<div class="bjui-footBar">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        </ul>
    </div>
</div>