<div class="bjui-pageContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='juname_input' class='control-label x85'>接收人:</label>{$Rs.juname}</td></tr>
<tr><td><label for='kssj_input' class='control-label x85'>开始时间:</label>{$Rs.kssj}</td><td><label for='jssj_input' class='control-label x85'>结束时间:</label>{$Rs.jssj}</td></tr>
<tr><td><label for='title_input' class='control-label x85'>任务标题:</label>{$Rs.title}</td><td><label for='jhname_input' class='control-label x85'>关联合同:</label>{$Rs.jhname}</td></tr>
<tr><td><label for='zhuangtai_input' class='control-label x85'>状态:</label>{$Rs.zhuangtai}</td><td><label for='uname_input' class='control-label x85'>发布人:</label>{$Rs.uname}</td></tr>
<tr><td><label for='addtime_input' class='control-label x85'>发布时间:</label>{$Rs.addtime}</td><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td></tr>
<tr><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td></tr>
<tr><td colspan=2><label for='beizhu_input' class='control-label x85'>任务内容:</label><div style='display: inline-block; vertical-align: middle;'><textarea name='beizhu'   data-toggle='kindeditor' data-minheight='150' data-items='fontname, fontsize, |, forecolor, hilitecolor, bold, italic, underline, removeformat, |, justifyleft, justifycenter, justifyright, insertorderedlist, insertunorderedlist, |, emoticons, image, link'>{$Rs.beizhu}</textarea></div></td></tr></tr>
<tr><td colspan=2><label for='wancheng_input' class='control-label x85'>完成情况:</label><textarea name='wancheng'  cols='65' rows='5' >{$Rs.wancheng}</textarea></td></tr></tr>
<tr><td colspan=2><label for='attid_input' class='control-label x85'>上传附件:</label>
			<php>$attlist=M('files')->where('attid='.$Rs['attid'])->select();</php>	
	         <foreach name='attlist' item='vf'>{$vf['uid']|truename=###}:<a href='__ROOT__/{$vf['folder']}{$vf['filename']}' target=_blank>{$vf['filedesc']}</A>&nbsp;&nbsp;{$vf['addtime']}<Br/><label  class='control-label x85'></label></foreach></td></tr>
           </tbody>
          </table>
        </div>
		<div class="bjui-footBar">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        </ul>
    </div>
</div>